.flash-box
.wrapper
  = render partial: "shared/side_bar"                                              
  .main-content
    .main-header
      .current-group
        .current-group__name
          = @group.name
        %ul.member-list
          Member：
          %li.member-list__member
            - @group.users.each do |group_user|
              = group_user.name
      .main-header__edit-box
        .main-header__edit-btn 
          = link_to edit_group_path(@group.id) do
            Edit

    .messages
      = render @messages  
            
    .form
      = form_for [@group, @message] do |f|
        .input-box
          .input-box__text
            = f.text_field :content, placeholder: 'type a message'
          .input-box__image
            = f.label :image do 
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, {style: "display:none;"}
        = f.submit 'Send', class: 'submit-btn__image'

